<form [formGroup]="form">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
				<label>Kontoinhaber</label>
				<input
                      type="text"
                      class="form-control"
                      id="kontoinhaber"
                      placeholder="Kontoinhaber"
                      formControlName="kontoinhaber"
                />
                <div *ngIf="formcontrols.kontoinhaber.touched && formcontrols.kontoinhaber.errors?.required" class="font">Kontoinhaber ist erforderlich</div>
                <div *ngIf="formcontrols.kontoinhaber.touched && formcontrols.kontoinhaber.errors?.pattern" class="font">Nur Alphabete sind erlaubt</div>
		    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
				<label>Bankname</label>
				<input
                      type="text"
                      class="form-control"
                      id="bankname"
                      placeholder="Bankname"
                      formControlName="bankname"
                />
                <div *ngIf="formcontrols.bankname.touched && formcontrols.bankname.errors?.required" class="font">Bankname ist erforderlich</div>
		    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
				<label>IBAN</label>
				<input
                      type="text"
                      class="form-control"
                      id="iban"
                      placeholder="IBAN"
                      formControlName="iban"
                />
                <div *ngIf="formcontrols.iban.touched && formcontrols.iban.errors?.required" class="font">IBAN ist erforderlich</div>
		    </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
				<label>SWIFT/BIC</label>
				<input
                      type="text"
                      class="form-control"
                      id="swift"
                      placeholder="SWIFT/BIC"
                      formControlName="swift"
                />
                <div *ngIf="formcontrols.swift.touched && formcontrols.swift.errors?.required" class="font">SWIFT/BIC ist erforderlich</div>
		    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
				<label>Kontonummer</label>
				<input
                      type="text"
                      class="form-control"
                      id="kontonummer"
                      placeholder="Kontonummer"
                      formControlName="kontonummer"
                />
                <div *ngIf="formcontrols.kontonummer.touched && formcontrols.kontonummer.errors?.required" class="font">Kontonummer ist erforderlich</div>
		    </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
				<label>BLZ</label>
				<input
                      type="text"
                      class="form-control"
                      id="blz"
                      placeholder="BLZ"
                      formControlName="blz"
                />
                <div *ngIf="formcontrols.blz.touched && formcontrols.blz.errors?.required" class="font">blz ist erforderlich</div>
		    </div>
        </div>
    </div>
    <div style="float:right">
        <button type="button" class="btn btn-secondary mr-1" (click)="exit()">Abbrechen</button>
        <button type="button" class="btn btn-success mr-1" [disabled]="!form.valid" (click)="saveAndNext()">Speichern und neuer Kunde</button>
        <button type="button" class="btn btn-success mr-1" [disabled]="!form.valid" (click)="save()">Speichern</button>
    </div>
</form>
<br>
<br>